.navbar-fixed li {
  display: inline-block;
  text-align: center;
 
}
.message{
  color:#0277bd
}
.score{
  color: #ffd180;
 
}
.itemLeft {
  width: 15%;
}

.itemCenter {
	width: 70%;
}

.itemRight {
  width: 15%;
}

.navbar-fixed {
 
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  margin-top: 0%;
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 1em;
}
a{
  font-size: 1em;
}

@media (max-width: 375px) {
   
  span{
    font-size: 0.6em
  }
  a{
    font-size: 0.6em;
  }
  .message{
    font-size: 0.5em;
  }
  .score{
    color: #ffab00;
    background-color: rgba(255, 255, 255, 0.776);
    font-size: 1.7em;
    font-weight: bold;
  }
}