.footer{
	background-color: #62abe3;
	color:#ffe0b2;
	width: 100%;
	position: relative;
}
/* //sticky footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  a{
		color:#ffe0b2;
	}
  .footer {
	z-index: 99999999;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  }